@import 'styles/theme';

.ownerwaiting {
  &.container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.75em;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 98%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0.75em;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 89%;
    height: 97%;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-47%, -50%);
  }
  &.row{
    display: flex;
    height: 25%;
    align-items: center;
    padding-left: 50px;
    }
  &.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 10%
    }
  &.card{
    width: 70%;
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 15px 10px;
    background-color: rgba(255, 255, 255, .2);
    margin-top: 5%;
    }

  &.icon-container {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
  }

  &.icon-status{
    position: absolute;
    transform: scale(1.6);
    transform-origin: bottom right;
    object-fit: cover;
    bottom: 0;
    right: 0;
  }

  &.icon-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &.label {
    font-style: sans-serif;
    color: rgb(144, 172, 230);
    font-weight: 360;
    font-weight:bold;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.input {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 0.75em;
    margin-top: 1%;
    padding: 0.5%;
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    border-left: 2px rgba(255, 255, 255, .1);
    border-top: 2px solid rgba(255, 255, 255, .1);
    background-color: transparent;
    font-weight: bold;
    color: #363f4a;
  }

  .input::before {
    content: "Room Code: ";
    font-size: 12pt;
    color: #a6aaaf;
    font-weight: lighter;
  }

  .input::after {
    content: attr(data-value);
    font-size: 12pt;

  }

  &.mode {
    font-style: sans-serif;
    color: rgb(144, 172, 230);
    font-weight: bold;
    font-style: italic;
    justify-content: center;
  }

  .mode::before {
    content: "Mode: ";
    font-style: normal;
    font-weight: normal;
    color: #a6aaaf;
  }

  .mode::after {
    content: attr(data-value);
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.8em;
  }
  &.button-box {
    display: flex;
    justify-content: center;
    width: 8%;
    height: 15%;
    margin-left: 0.4%;
    border-radius: 0.75em;
    background-color: rgba(209, 217, 224, 0.3);
    border: 1px dashed #ccc;
    outline: none;
    cursor: pointer;
  }
  &.errorMessage {
    color: indianred;
  }
  &.warnMessage {
    margin-top: 10px;
	  font-size: 16px;
    color: white;
  }
}